<% provide(:title, "esentrehombres") %>

<div class="container" id="logo-encuesta"><br><br><br><%= link_to image_tag("logoencuestalargo.svg", alt: "sd", style:"height:35%;width:35%;color:#4a4a4a" ), root_path, id: "github" %></div>

<div class="container">
<script type="text/javascript" >document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.com/s3/2969704/d7142d735127?__output=embedjs&__ref=' + escape(document.location.origin + document.location.pathname) + '" type="text/javascript" ></scr'  + 'ipt>');</script>
</div>
