<% provide(:title, "Información") %>

<container>	
<h1>¿Qué es sindudas?</h1>
<h3>
SinDudas.mx es una herramienta para localizar sitios que ofrezcan pruebas de detección de infecciones y enfermedades de transmisión sexual. En la versión beta_ podrás encontrar laboratorios y organizaciones que presten sus servicios en la Ciudad de México y el área metropolitana.
</h3>

<h3>
El sitio brinda información sobre el proceso, disponibilidad y calidad de los servicios con fichas únicas para cada laboratorio o institución, además de horarios de servicios e información de contacto.</h3>

<h3>
En la siguiente fase del sitio podrás encontrar un componente de contenidos para aprender sobre las posibilidades de riesgo de contagio de enfermedades e infecciones de transmisión sexual y las acciones para reducirlas. La plataforma en esta primera versión agrupa recursos públicos y privados disponibles para la detección del VIH e información específica sobre las pruebas disponibles para la CDMX.

</h3>


<h3>
Esta iniciativa es sin fines de lucro y busca generar un espacio seguro y con información de calidad enfocada a hombres que tienen sexo con otros hombres.</h2>


<h3>
Nos gustaría agregar más ciudades pronto y para eso necesitamos ayuda. Si eres diseñador, programador, analista, activista, médico o sólo interesado y quieres colaborar o tienes ideas sobre cómo mejorar el sitio escríbenos a contacto@sindudas.mx.</h3>
</container>

