   <p align="center"> Elige una vista </p>
        <p align="center">
          <a id="button-lista" class="view-selector btn btn-default btn-lg  disabled1">
                <span class="glyphicon glyphicon-list"></span> &nbsp;&nbsp;&nbsp;LISTA
            </a> 
            <span><a></a>&nbsp;&nbsp;</span>
             <a id="button-mapa" class="view-selector btn btn-default btn-lg">
                <span class="glyphicon glyphicon-map-marker"></span> &nbsp;&nbsp;&nbsp;MAPA
            </a>
        </p>