<p>FILTRA LAS CLÍNICAS</p>
            <div class="row" id="filtros">
                <div class="col-md-3" style="line-height: 100%;">Cerca de tí<br><br><br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Todas las delegaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" style="line-height: 100%;">Infecciones de transmisión sexual<br><br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Todas las delegaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" style="line-height: 100%;">Tipo de prueba<br><br><br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Todas las delegaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" style="line-height: 100%;">Consejeria<br><br><br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Todas las delegaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" style="line-height: 100%;">Costo<br><br><br>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Todas las delegaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Gratis</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>