<div class="btn-group btn-group-justified" id="selector">

     <div class="btn-group" id="button-start">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;">
    ¿Qué necesitas? <br><a class="sub-buscador">tipo de prueba...</a> </button>
      <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
     </ul>
     </div>
    
    
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;">
    Costo<br><a class="sub-buscador">gratuita...</a></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
    </ul>
  </div>
    
      <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;">
   Tiempo para resultados <br><a class="sub-buscador">un dia habíl...</a></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
    </ul>
  </div>
    
    
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;">
    ¿Necesitas ayudas?<br><a class="sub-buscador">sí necesito....</a></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
    </ul>
  </div>
    
    <div class="btn-group" id="button-endnext">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="line-height:110%;">
    ¿Dónde?<br><a class="sub-buscador">delegación....</a></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tablet</a></li>
      <li><a href="#">Smartphone</a></li>
    </ul>
  </div>
    
    <div class="btn-group" id="button-end">
    <button type="button" class="btn btn-primary">
    <a id="button-busca" class="view-selector btn btn-default btn-lg">
            Busca una prueba
            </a></button>
    
  </div>

</div>