<div class="container">
    <br><br><br>
    <%= render(
    partial: 'clinicas/clinicsshow',
    locals: {clinicas: @clinics }
    ) %>
    <% if ! @clinics.blank? %>
    <form action="/" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div id="infinite-scrolling">
            <%= will_paginate @clinics,:params => { :clinic_type => @clinic_type,
                      :cost=>@cost, :time=>@time,:help=>@help,:direction=>@direction},
                  :previous_label => '<', :next_label => '>', :inner_window => 1, :outer_window => 0  %>
        </div>
    </form>

    <% end %>

</div>
