    <footer class="footer">
        <div class="container">
            <div class="row">                
            <div class="col-sm-2" >
            <br><br>

            <br><br>
           
            <br><br>
            </div>
                
            <div class="col-sm-5" >
            <br><br>
               
            <br><br>
            
            <br><br>
            </div> 
                
            <div class="col-sm-3 footer-text">
            <br><br>
                      
            </div>
                
            <div class="col-sm-2 footer-text">
            <br><br>
            <a><b>Contacto</b></a>
            <br> <br>
            <a>Te escuchamos en <a href="mailto:contacto@sindudas.mx" target="_top">contacto@sindudas.mx</a></a> 
            <br> <br>
            <a><b>Acerca</b></a>
            <br><br>
            <a>¿Qué es sindudas.mx?</a>   
            </div>              
                
            </div>  
            <br> <br><br> <br>
        </div>
        <div class="subfooter">
            <div class="container">
                <a style="line-height: 350%;"> <%= link_to image_tag("logogrande.png", alt: "sd", style:"height:25px;color:#000000" ), root_path, id: "logo" %></a>
            </div>
            
        </div>


    </footer>
  

   