
<div id="seccion-lista" class="container" >
    
    <%= render 'layouts/clinicfilter' %>
          

    <div id="clinicas">   
        <%= render 'layouts/clinicgrid' %>

    </div>
          
</div>