   <div class="jumbotron" id="intro">      
       <div class="container" id="content">
                      <br><br><br>
        <div class="row">
            <div class="col-sm-9" ><p id="text0"><a style="color:#C4B60E"><strong>Quítate la duda y hazte la prueba.</strong></a><br>
                Recuerda que una prueba de VIH sólo es efectiva despúes de entre seis y doce semanas de un posible contacto de riesgo.</p></div>
            
        </div>
           <br><br><br>
       </div>                 
    </div>

