   <div class="jumbotron" id="intro">
        <div class="container" style="position:absolute; width:100%; height:110%:display:table-cell; vertical-align:middle; text-align:center">
            <%= link_to image_tag("logogrande.png", alt: "sd", style:"height:35px" ), id: "logogrande" %>
        </div>
        <p id="text0" align="center" style="display:none;">
            <br>
            <br>
            <br>Quítate la duda ya y hazte la prueba de VIH.
            <br> <a style="color:#FFCC33;"><b>56%</b></a> <b>de las personas que tienen VIH no lo saben.</b>
        </p>
        <p id="text1" align="center" style="display:none;">
            <br>
            <br>
            <br>Quítate la duda ya y hazte la prueba de VIH.
            <br> <a style="color:#FFCC33;"><b>65%</b></a> <b>de las personas que tienen VIH no lo saben.</b>
        </p>
        <p align="center">
            <br>
            <br><a style="color:#5047C5;">BUSCA PRUEBAS EN <b>235</b> CLÍNICAS</a> </p>

    </div>

