   <div class="jumbotron" id="intro">      
       <div class="container" id="content">
                      <br><br><br>
        <div class="row">
            <div class="col-sm-7" ><p id="text0"><a style="color:#C4B60E"><strong>Quitate la duda y hazte la prueba </strong></a><br>
                Y Recuerda que una prueba de VIH sólo es efectiva despúes de entre seis y doce semandas de un posible contacto de riesgo.</p></div>
            <div class="col-sm-5"><p align="center"><br><br><a id="button-pruebas" class="view-selector btn btn-default btn-lg">
                <span></span>Busca una prueba
            </a></p></div>
        </div>
           <br><br><br>
       </div>                 
    </div>

