   <div class="jumbotron" id="intro">      
       <div class="container" id="content">
        
            <div style="margin:auto;width:80%;"><p id="text0" style="font-size:35px;line-height:110%"><strong style="color:#EB556A;">Responde a las preguntas que también importan.</strong><br>
               La encuesta de sexo entre hombres, es la primera de su tipo en México. Ayuda al <a href="https://www.insp.mx/" target="_blank" style="color:#EB556A;">Instituto Nacional de Salud Pública</a> a conocer sobre tus actitudes, hábitos y preferencias para generar mejores servicios para nuestra comunidad</p></div>
           
            <div><p align="center"><br><br><a href="/esentrehombres"  data-turbolinks="false" id="button-pruebas" class="view-selector btn btn-default btn-lg">
                <span></span>Haz la encuesta
            </a></p></div>
       
           <br><br><br><br><br><br>
       </div>                 
    </div>

