   <div class="jumbotron" id="intro">      
       <div class="container" id="content">
        
            <div><p id="text0"><strong>Responde a las preguntas que también importan.</strong><br>
               La encuesta de sexo entre hombres, es la primera de su tipo en México. Ayuda al Instituto Nacional de Salud Pública <link: a https://www.insp.mx/> a conocer sobre tus actitudes, hábitos y preferencias para generar mejores servicios para nuestra comunidad</p></div>
           
            <div><p align="center"><br><br><a id="button-pruebas" class="view-selector btn btn-default btn-lg">
                <span></span>Haz la encuesta
            </a></p></div>
       
           <br><br><br><br><br><br>
       </div>                 
    </div>

