     <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="margin-left:-15px">
                        <%= link_to image_tag("PC.png", alt: "sd", style:"height:25px;color:#000000" ), root_path, id: "logo" %>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>