<nav class="navbar">
  <div class="container">   
      
      <%= link_to image_tag("sd_beta.svg", alt: "sd", style:"height:50px;color:#000000" ), root_path, id: "logo-nav" %>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Es entre hombres",   "http://www.sindudas.mx/esentrehombres" , target: "_blank" %></li>
        <li><%= link_to "¿Qué es sindudas?",   root_path,  'data-no-turbolink' => true %></li>

    </ul>
  </div>
</nav>