<nav class="navbar">
  <div class="container">     
      <ul class="nav navbar-nav">    
      <li><%= link_to image_tag("PC.png", alt: "sd", style:"height:25px;color:#000000" ), root_path, id: "logo" %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Es entre hombres",   encuesta_path,  'data-no-turbolink' => true %></li>
        <li><%= link_to "¿Qué es sindudas?",   encuesta_path,  'data-no-turbolink' => true %></li>

    </ul>
  </div>
</nav>