<!DOCTYPE html>
<html style="background-color:#f8e71c;">
    
  <head>
      <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>  
    <%= render 'layouts/footer' %>  
  </body>
    
</html>
